@mixin text-size($size:s) {
    font-size: tamano($size);
  }

@mixin pesoFuente($peso:s) {
  font-weight: font-weight($peso);
}

  @mixin responsive($size:sm) {
    @media screen and (max-width: size($size)) {
    @content;
  }
  }

  @mixin boton-detalles {
    padding-left: margin('xs');
    padding-right: margin('xs');
    padding-top: margin('xxs');
    padding-bottom: margin('xxs');
    background-color: color('secondary');
    color: color('primary');
    border: 1px solid color('primary');
    @include text-size('xs');
    @include pesoFuente('superlight');
  
    &:hover {
      background-color: color('primary');
      color: color('secondary');
    }
  }

  /// Mixin para crear un bloque flex
/// @param {string} $direction [row] 
/// @param {string} $justify [center] 
/// @param {string} $align [center] 

@mixin flexposition($direction:row, $justify:center, $align:center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}