//// @author @descobar

//Colores que se van a utilizar en todo el proyecto
/// @group colores
/// 
$colors: (
    primary: #333,
    secondary: rgba(255, 255, 255, 0.933),
    tertiary: #cfcdcd,
    quaternary: #3da9fb,
    texto-revista:#484848c5,
    body-back: rgb(238, 245, 248),
    submenu: rgba(255, 255, 255, 0.815),
    hover-menu: #ff6600
);

//funcion para poner un color predeterminado
/// @param {string} $color-name 
/// @return {color-name} color - en hexadecimal
/// @group colores
@function color($color-name) {
    @return map-get($colors, $color-name);
}

//Variables del tamaño que pueden tener las fuentes
/// @group tamaño-fuente
$tamano:(
    xxl:6rem,
    xl:3rem,
    lg:2.5rem,
    md:2rem,
    sm:1.8rem,
    s:1.35rem,
    xs:1.15rem,
    xxs:1rem,
    xxxs:0.75rem,
    mini:0.5rem

);

//funcion para poner una fuente predeterminada
/// @param {string} $size 
/// @return {size} 
/// @group tamaño-fuente
@function tamano($size){
    @return map-get($tamano, $size);
}


//Variables del tamaño que pueden tener los margenes
/// @group margenes
$margins:(
    max:400px,
    xxxl:320px,
    xxl:200px,
    xl:150px,
    l:125px,
    lg:100px,
    md:75px,
    sm:50px,
    s:35px,
    xs:20px,
    xxs:10px,

);

//funcion para poner un margen predeterminada
/// @param {string} $margin 
/// @return {margin} 
/// @group margenes
@function margin($margin){
    @return map-get($margins, $margin);
}

//Variables del tamaño que pueden tener los gaps
/// @group gaps
$gaps:(
    xxxl:200px,
    xxl:150px,
    xl:100px,
    lg:75px,
    md:50px,
    sm:20px,
    xs:10px,

);

//funcion para poner un gap predeterminada
/// @param {string} $gap 
/// @return {gap} 
/// @group gaps
@function gap($gap){
    @return map-get($gaps, $gap);
}

//Variables del tamaño de ancho que pueden tener los divs
/// @group anchos
$widths:(
    xxl:100vw,
    xl:80vw,
    l:65vw,
    lg:60vw,
    md:45vw,
    sm:35vw,
    s:23vw,
    xs:20vw,

);

//funcion para poner un ancho predeterminada
/// @param {string} $width 
/// @return {width} 
/// @group anchos
@function width($width){
    @return map-get($widths, $width);
}

//Variables del tamaño de alto que pueden tener los divs
/// @group altos
$heights:(
    max:max-content,
    xxl:100vw,
    xl:80vw,
    lg:60vw,
    md:45vw,
    sm:30vw,
    s:20vw,
    xs:10vw,

);


//funcion para poner una altura predeterminada
/// @param {string} $height 
/// @return {height} 
/// @group altos
@function height($height){
    @return map-get($heights, $height);
}

//Variables del peso de una fuente predeterminada
/// @group peso-fuente
$font-weights: (
    superlight:100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    extra-bold: 800,
);


//funcion para poner un peso de fuente predeterminada
/// @param {string} $weight 
/// @return {weight} 
/// @group peso-fuente
@function font-weight($weight) {
    @return map-get($font-weights, $weight);
}

//Variables para poner un tamaño para mediaquery predeterminada
/// @group media-query
$sizesr: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl:1370px
);

//funcion para poner un tamaño para mediaquery predeterminada
/// @param {string} $size 
/// @return {size} 
/// @group media-query
@function size($size){
  @return map-get($sizesr, $size);
}
