

header{
// Estilos del menú
position: fixed;
z-index: 200;
top:0;
right: 0;
left: 0;
@include responsive(lg) {
  position: relative;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include responsive(lg) {
    flex-direction: column; // Cambiar a dirección de columna en dispositivos de pantalla grande
    align-items: stretch; // Para que los elementos ocupen todo el ancho
  }
}




}