//este es el componente detalles
.detalles{
    
    h1{
      @include pesoFuente('light');
        @include responsive(lg){
          @include text-size('xl')
          
      }
    }



    .informacion1{
      
      column-gap: gap("md");
      margin-top: margin("s");
      
      
      .flex-left{
        width: width("l");
        padding:0 margin("xs");
        
        @include responsive(lg){
          width: width("xxl");
        }
        .info-base{
          
         
          @include responsive(sm){
            
            text-align: center;
         }
  

         p{
          @include responsive(lg){
            @include pesoFuente('regular');
            
        }
         }
        }
      }
      .wish{
        
        
        width: width("sm");
        background-color: color("body-back");
        padding: 20px;

        ul{
          list-style: none;
          text-align: center;
          margin-top: margin("xs");
          margin-bottom: margin("xs");
          @include pesoFuente('light');
          @include text-size('xs');
          @include responsive(lg){
            @include text-size('sm');
        }

        }

        @include responsive(lg){
          width: width("xxl");
      }

        .input-container {
          position: relative;
          margin-top: margin("sm");
          margin-bottom: margin("sm");
        }
        
        .input-container input[type="text"], input[type="date"] {
          font-size: 20px;
          width: 100%;
          border: none;
          border-bottom: 2px solid #bdbdbd;
          padding: 5px 0;
          background-color: transparent;
          outline: none;
        }
        
        .input-container .label {
          position: absolute;
          top: 0;
          left: 0;
          color: color("primary");
          transition: all 0.3s ease;
          pointer-events: none;
        }
        
        .input-container input[type="text"]:focus ~ .label,
        .input-container input[type="text"]:valid ~ .label {
          top: -20px;
          font-size: 16px;
          color: #333;
        }
        
        .input-container .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: #333;
          transform: scaleX(0);
          transition: all 0.3s ease;
        }
        
        .input-container input[type="text"]:focus ~ .underline,
        .input-container input[type="text"]:valid ~ .underline {
          transform: scaleX(1);
        }


        button{
          @include boton-detalles;

          @include responsive(lg){
            @include text-size('sm')
            
        }
          
        }
        
      }
      p{
        @include text-size('xs');
        @include pesoFuente('light');

        @include responsive(lg){
          @include text-size('sm')
          
      }
      }


      
      
    }
    .instalaciones{
      padding: margin("xs");
      
      background-color: color("body-back");
      .indoor, .outdoor{
        
       
      

        h3{
          text-align: center;
          background-color: color("primary");
          color:color("secondary");
          margin-bottom: margin("s");
          @include text-size('s');
          @include pesoFuente('light');
          width: fit-content;
          align-self: center;
          padding: margin("xxs");
        }
        ul{
           
          column-gap: gap("sm"); 
          list-style: none;


          
          
  
          li{
            @include text-size('xs');
            @include pesoFuente('light');

            @include responsive(lg){
              @include text-size('sm');
          }
          }

          li::before {
            font-family: 'Font Awesome 5 Free';
            content: "\f14a"; 
            margin-right: margin("xxs"); 
        }
        }
      }

    }

    .reseñas{
      padding: margin("xs");

      p{
        @include responsive(lg){
          @include text-size('sm');
          @include pesoFuente('light');
      }
      }
      
      ul{
        padding: 0;
        list-style: none;
        li{
          @include text-size('xs');
          @include pesoFuente('light');

          @include responsive(lg){
            @include text-size('sm');
        }
          
        }
      }
    }


  }