footer{
    box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.4);
    padding: margin("md");
    @include pesoFuente('superlight');
    div{
        p{
            &:first-child {
                @include text-size('xs');
                
              @include responsive(lg){
                @include text-size('s');
            }
              }

              @include responsive(lg){
                @include text-size('s');
            }
        }
    }
    ul{
        list-style: none;
        padding-left: 0;
        @include responsive(lg){
            @include text-size('s');
        }
    }
}