header{
// Estilos del menú
  h5{
    font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: xx-large;
      font-style: normal;
  }
 .navbar-brand {
      margin-right: 60vw;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: xx-large;
      font-style: normal;
      
      @include responsive(lg) {
        margin-right: 0;
      }
    }
    .nav-item{
      margin-right: margin("xxs");

      .nav-link{
        border-radius: 10px;
        &:hover{
          background-color:  rgba(color("hover-menu"), 0.6);
        
        }
      }
    }

.menu {
  
  background-color: color("submenu");
  padding: margin("xxs") margin("xs");
  width: 100vw;
 
}

input{
  border: none;
  background-color: transparent;
  &:focus {
    outline: none; // Quita el borde al hacer focus
  }
}

.menu-item {
  margin-right: margin("xs");
  @include responsive(lg) {
   margin-bottom: margin("xs");
  }
}

// Estilos específicos para el botón de buscar
.boton-buscar {
  background-color: color("hover-menu");
  color:  color("secondary");
  padding: margin("xxs") margin("xs");
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: darken(color("hover-menu"), 10%);
  }
}

// Estilos para los dropdowns
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown select {
    padding: margin("xxs");
    border: none;
    background-color: color("secondary");
    color: color("primary");
  }


}